<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Getwell_Innovations_Vendor_App.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Getwell_Innovations_Vendor_App.My.MySettings>
            <setting name="Employee" serializeAs="String">
                <value>https://www.getwellweb.com/admin/login/store-employee</value>
            </setting>
            <setting name="Vendor" serializeAs="String">
                <value>https://www.getwellweb.com/admin/login/store</value>
            </setting>
        </Getwell_Innovations_Vendor_App.My.MySettings>
    </userSettings>
</configuration>